<div class="searchBar">
  <div class="container">
    <form action="/search" class="search__form" role="search" method="Post">
      <input
        type="search"
        aria-label="search"
        id="searchInput"
        name="searchTerm"
        placeholder="Serch the site ... "
      />
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>
